* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: #181717;
    width: 100%;
    max-width: 1500px;
    height: 600px;
    padding-top: 60px;
}

section h2 {
    margin: 0 0 50px;
}

section h2 span {
    color: rgb(139, 70, 139);
}

section div {
    display: flex;
    align-items: center;
    margin-left: 130px;
    margin-bottom: 40px;
    max-width: 1000px;
    /* margin-left: 10%; */
}

section div div {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

section div div p {
    max-width: 200px;
}

section div div img {
    display: flex;
    /* align-items: center; */
    margin-left: 30%;
    margin-bottom: 30px;
}

button {
    color: #fff;
    background: rgb(139, 70, 139);
    width: 190px;
    height: 40px;
    border: none;
    border-radius: 30px;
}